{{!--    // var newDiv = $('<div></div>');
    // newDiv.addClass('panel panel-default to-do-item');
    // var innerDiv = $('<div></div>');
    // innerDiv.addClass('panel-body');
    // innerDiv.text(this.content);
    // newDiv.append(innerDiv);
    // var footer = $('<div></div>');
    // footer.addClass('panel-footer text-right');
    // newDiv.append(footer);
    // footer.append($('<div>').addClass('col-md-9 item-date text-left').text(this.dateFromString(this.createdAt, false)
    //   ));
    // var btnDiv = $('<div>').addClass('col-md-3');
    // footer.append(btnDiv);
    // var btnGroup = $('<div></div>');
    // btnGroup.addClass('btn-group');
    // btnDiv.append(btnGroup);
    // var button = $('<button></button>');
    // button.addClass('btn btn-default commit');
    // btnGroup.append(button);
    // var delButton = $('<button></button>');
    // delButton.addClass('btn btn-default delete');
    // btnGroup.append(delButton);
    // checkIcon = $('<i></i>');
    // checkIcon.addClass('fa fa-check-square-o');
    // button.append(checkIcon);
    // delIcon = $('<i></i>');
    // delIcon.addClass('fa fa-times');
    // delButton.append(delIcon); --}}

<div class='panel panel-default to-do-item' data-id={{id}}>
    <div class='panel-body'>
        {{content}}
    </div>
    <div class="panel-footer text-right">
        <div class="col-md-9 item-date text-left">{{timeFromString createdAt completedAt}}</div>
        <div class='col-md-3'>
            {{#unless completedAt}}
                <div class="btn-group">
                <button class="btn btn-default commit"><i class="fa fa-check-square-o"></i></button>
            {{/unless}}
                <button class="btn btn-default delete"><i class="fa fa-times"></i></button>
            {{#unless completedAt}}</div>{{/unless}}
        </div>
    </div>
</div>
